body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c1c1c1;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 95%;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    max-width: 300px;
    border-radius: 10px;
    background-color: rgb(48,48,48);
    box-shadow: 3px 3px 4px grey, -3px -3px 4px grey;
}

.name {
    margin-top: -5px;
    text-align: center;
}
.name h4 {
    color: wheat;
    font-size: 20px;
    font-family: 'Times New Roman', Georgia;
}

.input-area {
    width: 95%;
    margin: auto;
    height: 115px;
    border-radius: 10px;
    outline: 1px solid #fff;
    border: 2px solid #f0943e;
    background-color: #51ce66;
}
.input-area input {
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
    display: block;
    margin: 5px auto;
    margin-top: 10px;
    text-align: right;
    font-weight: bolder;
    background-color: transparent;
    font-family: 'Times New Roman', Georgia;
}

.input-area .settings {
    display: flex;
    position: absolute;
}
.settings span {
    color: white;
    padding: 3px;
    display: none;
    font-size: 13px;
    margin-top: 2px;
    margin-left: 5px;
    font-family: Sans-Serif;
    background-color: grey;
    border-radius: 5px;
}
.settings #shift-div {
    display: none;
}
.settings #shift-div.active {
    display: block;
}

#input_write {
    color: #000;
    font-size: 45px;
}
#input_res {
    color: #6a6a6a;
    margin-top: -5px;
    font-size: 25px;
}
#input_write::placeholder {
    color: #000;
}

.btn-wrapper {
    width: 95%;
    display: flex;
    margin: 15px auto;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    outline: 1px solid #fff;
    border: 2px solid #f0943e;
    background-color: #ead59a;
}
#norm, #sci {
    flex-direction: column;
    transition: 0.3s all ease-in-out;
}
#sci {
    display: none;
    opacity: 0;
}
.row {
    flex-direction: row;
}

button {
    width: 55px;
    height: 50px;
    margin: 5px;
    margin-bottom: 7px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #fff;
    outline: 2px solid #f0943e;
    background-color: #f0943e;
    transition: 0.1s all ease-in-out;
    font-family: 'Times New Roman', Georgia;
}

button:active {
    color: #fff;
    transform: scale(1.05, 1.05);
    background-color: #4c4c4c !important;
    outline: 2px solid #4c4c4c !important;
}

#del, #del2 {
    background-color: red;
    outline: 2px solid red;
}

#rad {
    background-color: #00a0f4;
    outline: 2px solid #00a0f4;
}

#left, #right {
    background-color: #2db7ff;
    outline: 2px solid #2db7ff;
}

#solve, #solve2 {
    width: 45%;
    max-width: 125px;
    background-color: #21b600;
}

p {
    font-size: 14px;
    margin-bottom: -5px;
    font-family: Sans-Serif;
}
p span {
    text-decoration: 1px underline;
}